.droppable {

    position: absolute;
    top: 35px;
    left: 216px;
    background-color: #9e9e9e63;
    margin-top: 50px;
    width: 69%;
    height: 108px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    z-index: 1;
}